{% extends 'base.html' %}

{% block content %}

<div class="container-lg mt-5">
    {% if request.user.is_applicant %}
        {% if not request.user.has_resume %}
            <div class="alert alert-primary" role="alert">
                <b>You are seeing this because you have not Create a profile. Create one <a href="{% url 'update-resume' %}"><button class="btn btn-success">Click to create</button></a></b>
            </div>
        {% endif %}

        <section>
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Welcome Jobs Portal</h1>
                    <p class="col-md-8 fs-4">Applicant Dashboard</p>
                </div>
            </div>
        </section>

    {% elif request.user.is_recruiter %}
        {% if not request.user.has_company %}
            <div class="alert alert-primary" role="alert">
                <b>You are seeing this because you have not created any company. Create one <a href="{% url 'update-company' %}"><button class="btn btn-success">Click to Create</button></a></b>
            </div>
        {% endif %}

        <section>
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Welcome Jobs Portal</h1>
                    <p class="col-md-8 fs-4">Recruiter Dashboard</p>
                </div>
            </div>
        </section>
    {% endif %}
</div>

{% endblock content %}
