{% extends 'users/base.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container-lg mt-5">
  <div class="row justify-content-center">
    <div class="col-md-15">
      <form class="p-4 p-md-5 border rounded-3 bg-light shadow-lg" method="POST">
        {% csrf_token %}
        <h2 class="mb-4 text-center">Sign Up</h2>
        <div class="form-floating mb-3">
          {% render_field form.first_name class="form-control" %}
          <label for="floatingInput">First name</label>
        </div>
        <div class="form-floating mb-3">
          {% render_field form.last_name class="form-control" %}
          <label for="floatingInput">Last name</label>
        </div>
        <div class="form-floating mb-3">
          {% render_field form.email class="form-control" %}
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
          {% render_field form.password1 class="form-control" %}
          <label for="floatingInput">Enter Password</label>
        </div>
        <div class="form-floating mb-3">
          {% render_field form.password2 class="form-control" %}
          <label for="floatingInput">Confirm Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        <hr class="my-4">
        <div class="text-muted text-center">
          <small>Already have an account? <a href="{% url 'login' %}">Sign In</a></small>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
